{% extends 'store/base.html' %}

{% block content %}
<section class="site-section py-lg">
  <div class="jumbotron">

        <h3>Must be superuser</h3>

        {% if form.errors %}
          <p> Your Username and Password did not match. Please Try Again</p>

        {% endif %}

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
              {{form.as_p}}

              <input type="submit" class = 'btn btn-primary' value="Login">
              <input type="hidden" name="next" value="{{next}}">

        </form>
  </div>

  </section>



{% endblock %}
