{% extends "store/base.html" %}
{%  load static %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Certificates Found</h1>
  <hr class="my-4">

  {% for certificate in certificates %}
      <p class="lead">Event : {{certificate.event}}</p>
      <p class="lead">Year : {{certificate.year}}</p>
      <p class="lead">ID : <a href="{% url 'certificate' pk=certificate.pk %}">{{certificate.cert_id}}</a></p>
      <hr class="my-4">

  {% endfor %}
  <p>Click here to go back home</p>
  <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Home</a>
</div>
{% endblock %}
